<div clas="container">
  <div class="row">
    <div class="col-12 pl-5 pb-3 pt-3">
      <table>
        <h5 class="pb-4">■ ユニークベジティナブルサイトとは？</h5>

        <p>形がいびつであったり、大きさがバラバラである規格外野菜をレビューするサイトです。</p>
        <p>食べられるのにスーパーの出荷基準に満たない野菜が破棄されてしまうなど、<br>
        サスティナビリティの観点より食品ロスをサポートすることが目的です。</p>
        <p>★ユーザーの会員やレビュー投稿を増やし、農家さんの応援へ繋げていきましょう！</p>

      </table>
    </div>
  </div>

 <div class="row">
    <table>
      <div class="col-sm-6 px-5">
      <%= image_tag 'farmer.jpg', class: 'hoge' , size: '350x200'%>
      </div>
    <div class="col-sm-6 pl-5 pt-4 pb-5">
        <h5><%= image_tag '716.jpg', class: 'hoge' , size: '90x90'%>名前の由来</h5>
        <p>ユニーク ∔ ベジタブル ∔ サスティナブル</p>
      </div>
      </table>
    </div>
  </div>

</div>

