<div class="container">
  <div class="row">
    <div clas="col-7">
      <table>
        <%= form_with model: @user, method: :patch, url: vegetainable_review_path do |f| %>
            <div class="mt-5 p-1 col-4">
            <h5>@<%= @user.name %> ( <%= @user.nickname %> ) さんの会員詳細</h5>
            </div>
        <% end %>    
       </table>
    </div>
  </div>
</div>