<div class="container">
  <div class="row">
    <div class="col-md-7 pb-3 pt-1 ">
      <table>
        <tr>
        <h5 class="pb-4"><%= image_tag '716.jpg', class: 'hoge' , size: '90x90'%> 食品ロスとは？</h5>

        <p>食品ロスとは、本来食べられるのに捨てられてしまう食品のことです。<br>
           特に先進国では食べられる食品が大量に廃棄されているという現実が問題視されています。<br>
           生産するための原材料だけでなく、廃棄にも費用がかかるため、二重三重に資源の無駄遣いが生じてしまいます。<br></p>
        <p>野菜や果物は見た目がきれいで整ったものだけが出荷されるため、<br>
           多少の傷があったり変形したスーパーなどの納品先基準に達さな農産品は、食べられるにもかかわらず廃棄されています。</p>
        <p>「ユニークベジティナブル」ではそのような規格外野菜の廃棄を減らす取り組みをサポートしています。</p>

    </div>
    </table>
  </div>

  <div class="row">
    <table>
      <div class="col-md-5 pt-4 ml-2">
        <h5>★食品ロスはSDGsの12番★</h5>
        <p class="pb-3">
        食品ロス削減はSDGs（持続可能な開発目標）の目標12に直接貢献します。
        この目標は「持続可能な消費と生産のパターンを確保する」ことを目指しています。
        </p>
        <%= image_tag 'sdgs_food.jpg', class: 'hoge' , size: '300x100'%>
      </div>
      <div class="col-md-6 px-5 pt-4">
        <%= image_tag 'sdgs.jpg', class: 'hoge' , size: '350x270'%>
      </div>
    </table>
  </div>
</div>

