<!-- admin/homes/aboutページと部分テンプレートで表示  -->
<!-- 更新や修正はuser/homes/_about.html.erbで編集する  -->
<div class="m-3">
  <%= render 'user/homes/about.html.erb' %>
</div>
<div class="container">
  <div class="row">
    <div class="mt-3 ml-4 pt-1 col-md-5">
      <%= link_to "<< TOPページへ戻る", root_path, class: "btn btn-warning p-2 mb-5" %>
    </div>
  </div>
</div>

