<div clas="container">
  <div class="row">
    <div class="col-12 pl-5 pb-3 pt-3">
      <table>
        <h5 class="pb-4">■ ユニークベジティナブルサイトとは？</h5>

        <p>形がいびつであったり、大きさがバラバラである規格外野菜をレビューするサイトです。</p>
        <p>食べられるのにスーパーの出荷基準に満たない野菜が破棄されてしまうなど、<br>
        サスティナビリティの観点より食品ロスをサポートいたします。</p>
        <p>どこで安くて美味しい野菜が販売されているのか、<br>
        どこの農家さんの野菜がおすすめなのか<br>
        珍しい野菜を作っている農家さんなど<br></p>
        <p>ぜひ探してみてください！</p>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12 pl-5 pt-4 pb-5">
      <table>
        <h5>■ 名前の由来</h5>
        <p>ユニーク ∔ ベジタブル ∔ サスティナブル</p>
      </table>
    </div>
  </div>

</div>

